notes</br>
pip install findspark
pip install pyspark
In this case need a virtual enviroment

In [38]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer, VectorAssembler
from pyspark.ml.regression import LinearRegression

In [5]:
spark = SparkSession.builder.appName('Study').getOrCreate()
spark

22/12/02 11:25:28 WARN Utils: Your hostname, Nautas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.26 instead (on interface en0)
22/12/02 11:25:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/02 11:25:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

#### Create a DF using Spark

In [6]:
df_spark = spark.read.csv('teleCust1000t.csv')
df_spark.show()

+------+------+---+-------+-------+-------+---+------+------+------+------+-------+
|   _c0|   _c1|_c2|    _c3|    _c4|    _c5|_c6|   _c7|   _c8|   _c9|  _c10|   _c11|
+------+------+---+-------+-------+-------+---+------+------+------+------+-------+
|region|tenure|age|marital|address| income| ed|employ|retire|gender|reside|custcat|
|     2|    13| 44|      1|      9| 64.000|  4|     5| 0.000|     0|     2|      1|
|     3|    11| 33|      1|      7|136.000|  5|     5| 0.000|     0|     6|      4|
|     3|    68| 52|      1|     24|116.000|  1|    29| 0.000|     1|     2|      3|
|     2|    33| 33|      0|     12| 33.000|  2|     0| 0.000|     1|     1|      1|
|     2|    23| 30|      1|      9| 30.000|  1|     2| 0.000|     0|     4|      3|
|     2|    41| 39|      0|     17| 78.000|  2|    16| 0.000|     1|     1|      3|
|     3|    45| 22|      1|      2| 19.000|  2|     4| 0.000|     1|     5|      2|
|     2|    38| 35|      0|      5| 76.000|  2|    10| 0.000|     0|     3|      4|
|     3|    45| 59|      1|      7|166.000|  4|    31| 0.000|     0|     5|      3|
|     1|    68| 41|      1|     21| 72.000|  1|    22| 0.000|     0|     3|      2|
|     2|     5| 33|      0|     10|125.000|  4|     5| 0.000|     1|     1|      1|
|     3|     7| 35|      0|     14| 80.000|  2|    15| 0.000|     1|     1|      3|
|     1|    41| 38|      1|      8| 37.000|  2|     9| 0.000|     1|     3|      1|
|     2|    57| 54|      1|     30|115.000|  4|    23| 0.000|     1|     3|      4|
|     2|     9| 46|      0|      3| 25.000|  1|     8| 0.000|     1|     2|      1|
|     1|    29| 38|      1|     12| 75.000|  5|     1| 0.000|     0|     4|      2|
|     3|    60| 57|      0|     38|162.000|  2|    30| 0.000|     0|     1|      3|
|     3|    34| 48|      0|      3| 49.000|  2|     6| 0.000|     1|     3|      3|
|     2|     1| 24|      0|      3| 20.000|  1|     3| 0.000|     0|     1|      1|
+------+------+---+-------+-------+-------+---+------+------+------+------+-------+
only showing top 20 rows

### To keep the first name as a name for a columns we use read.option('header', 'true') </br>
### Now for we keep the true type from de value data we need use inferSchema=True in csv() properties

In [7]:
df_spark_columns = spark.read.option('header', 'true').csv('teleCust1000t.csv', inferSchema=True)
df_spark_columns.show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

In [8]:
type(df_spark_columns)

pyspark.sql.dataframe.DataFrame

For info like .info()-Pandas We use .printSchema()

In [9]:
df_spark_columns.printSchema()

root
 |-- region: integer (nullable = true)
 |-- tenure: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- marital: integer (nullable = true)
 |-- address: integer (nullable = true)
 |-- income: double (nullable = true)
 |-- ed: integer (nullable = true)
 |-- employ: integer (nullable = true)
 |-- retire: double (nullable = true)
 |-- gender: integer (nullable = true)
 |-- reside: integer (nullable = true)
 |-- custcat: integer (nullable = true)

Another way to create the DF or a short way to create a DF

In [10]:
df_spark = spark.read.csv('teleCust1000t.csv', header=True, inferSchema=True)
df_spark.show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

In [11]:
df_spark.printSchema()

root
 |-- region: integer (nullable = true)
 |-- tenure: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- marital: integer (nullable = true)
 |-- address: integer (nullable = true)
 |-- income: double (nullable = true)
 |-- ed: integer (nullable = true)
 |-- employ: integer (nullable = true)
 |-- retire: double (nullable = true)
 |-- gender: integer (nullable = true)
 |-- reside: integer (nullable = true)
 |-- custcat: integer (nullable = true)

Get the columns name

In [12]:
df_spark.columns

['region',
 'tenure',
 'age',
 'marital',
 'address',
 'income',
 'ed',
 'employ',
 'retire',
 'gender',
 'reside',
 'custcat']

In [13]:
df_spark.head(5)

[Row(region=2, tenure=13, age=44, marital=1, address=9, income=64.0, ed=4, employ=5, retire=0.0, gender=0, reside=2, custcat=1),
 Row(region=3, tenure=11, age=33, marital=1, address=7, income=136.0, ed=5, employ=5, retire=0.0, gender=0, reside=6, custcat=4),
 Row(region=3, tenure=68, age=52, marital=1, address=24, income=116.0, ed=1, employ=29, retire=0.0, gender=1, reside=2, custcat=3),
 Row(region=2, tenure=33, age=33, marital=0, address=12, income=33.0, ed=2, employ=0, retire=0.0, gender=1, reside=1, custcat=1),
 Row(region=2, tenure=23, age=30, marital=1, address=9, income=30.0, ed=1, employ=2, retire=0.0, gender=0, reside=4, custcat=3)]

How to pickup a column or a row or cell

In [14]:
df_spark.select('region').show()

+------+
|region|
+------+
|     2|
|     3|
|     3|
|     2|
|     2|
|     2|
|     3|
|     2|
|     3|
|     1|
|     2|
|     3|
|     1|
|     2|
|     2|
|     1|
|     3|
|     3|
|     2|
|     1|
+------+
only showing top 20 rows

more then one column

In [15]:
df_spark.select(['marital', 'employ']).show()

+-------+------+
|marital|employ|
+-------+------+
|      1|     5|
|      1|     5|
|      1|    29|
|      0|     0|
|      1|     2|
|      0|    16|
|      1|     4|
|      0|    10|
|      1|    31|
|      1|    22|
|      0|     5|
|      0|    15|
|      1|     9|
|      1|    23|
|      0|     8|
|      1|     1|
|      0|    30|
|      0|     6|
|      0|     3|
|      1|     2|
+-------+------+
only showing top 20 rows

How to check the type from all components of the row

In [16]:
df_spark.dtypes

[('region', 'int'),
 ('tenure', 'int'),
 ('age', 'int'),
 ('marital', 'int'),
 ('address', 'int'),
 ('income', 'double'),
 ('ed', 'int'),
 ('employ', 'int'),
 ('retire', 'double'),
 ('gender', 'int'),
 ('reside', 'int'),
 ('custcat', 'int')]

Using the describe method

In [17]:
df_spark.describe().show()

+-------+-----------------+------------------+------------------+------------------+------------------+----------------+---------------+------------------+-------------------+------------------+------------------+------------------+
|summary|           region|            tenure|               age|           marital|           address|          income|             ed|            employ|             retire|            gender|            reside|           custcat|
+-------+-----------------+------------------+------------------+------------------+------------------+----------------+---------------+------------------+-------------------+------------------+------------------+------------------+
|  count|             1000|              1000|              1000|              1000|              1000|            1000|           1000|              1000|               1000|              1000|              1000|              1000|
|   mean|            2.022|            35.526|            41.684|             0.495|            11.551|          77.535|          2.671|            10.987|              0.047|             0.517|             2.331|             2.487|
| stddev|0.816199842062091|21.359811927204905|12.558816340239561|0.5002251745216602|10.086681324406955|107.044164849039|1.2223965204684|10.082087059705419|0.21174474216810166|0.4999609594367953|1.4357926384058741|1.1203062465621105|
|    min|                1|                 1|                18|                 0|                 0|             9.0|              1|                 0|                0.0|                 0|                 1|                 1|
|    max|                3|                72|                77|                 1|                55|          1668.0|              5|                47|                1.0|                 1|                 8|                 4|
+-------+-----------------+------------------+------------------+------------------+------------------+----------------+---------------+------------------+-------------------+------------------+------------------+------------------+

How add column usin spark

In [18]:
df_spark.withColumn('age+employ', df_spark['age'] + df_spark['employ']).show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+----------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|age+employ|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+----------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|        49|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|        38|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|        81|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|        33|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|        32|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|        55|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|        26|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|        45|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|        90|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|        63|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|        38|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|        50|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|        47|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|        77|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|        54|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|        39|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|        87|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|        54|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|        27|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|        31|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+----------+
only showing top 20 rows

In [19]:
add = df_spark['age'] + df_spark['employ']
df_spark_nc = df_spark.withColumn('newColumn', add)
df_spark_nc.show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+---------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|newColumn|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+---------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|       49|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|       38|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|       81|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|       33|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|       32|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|       55|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|       26|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|       45|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|       90|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|       63|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|       38|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|       50|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|       47|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|       77|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|       54|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|       39|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|       87|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|       54|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|       27|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|       31|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+---------+
only showing top 20 rows

How to drop columns in spark

In [20]:
df_spark_nc = df_spark_nc.drop('newColumn')
df_spark_nc.show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

Rename the columns

In [21]:
df_spark_nc.withColumnRenamed('income', 'Entrada').show()

+------+------+---+-------+-------+-------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|Entrada| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+-------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|   64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7|  136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24|  116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|   33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|   30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|   78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|   19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|   76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7|  166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|   72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10|  125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|   80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|   37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30|  115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|   25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|   75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38|  162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|   49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|   20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|   77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+-------+---+------+------+------+------+-------+
only showing top 20 rows

<hr>
##How to drop fill and replace a NaN or Null value

In [22]:
df_spark.na.drop().show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

<hr>
using the df_spar.na.drop() we can use the propertie how= and especiffy what drop: </br>
how='any' is defaul - this drop any how with null value </br>
how='all' we use to drop all rows with all values null </br>
how='any' with thresh=2 -- this combination going to delete all rows with more then 2 values nonull </br>
We have another propertie subset= with subset= we can drop chosen a column.

In [23]:
df_spark.na.drop(how='any', thresh=2).show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

In [24]:
df_spark.na.drop(how='any', subset='address').show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

<hr>
To fill a NaN or Null value we can use spark.na.fill()<br/>
If we just put one paramiter such as 'FILL_Value'all null will became 'FILL_Value'<br>
But if we want to fill just in a specific column we use the seconde paramiter with tha name of the column<br>
such as spark.na.fill('FILL_Value', 'address') if we want to fill more than one column we use square brackets inside the parentheses such as spark.na.fill('FILL_Value', ['address', 'age'])

In [25]:
df_spark.na.fill('FILL_value', 'address').show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

<hr>
Here we use the Imputer to take al values an create a copy or put the mean value on the null spot<br>
we calculate the mean or median or mode using .setStrategy() and in a propertie we put mean, median or mode

In [26]:
from pyspark.ml.feature import Imputer, VectorAssembler

imputer = Imputer(
    inputCols=['region','tenure','age','marital','address',
                'income','ed','employ','retire','gender','reside','custcat'],
    outputCols=['{}_imputed'.format(c) for c in ['region','tenure','age','marital','address',
                'income','ed','employ','retire','gender','reside','custcat']]            
    ).setStrategy('mean')

Add imputation columns to df

In [27]:
imputer.fit(df_spark).transform(df_spark).show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+--------------+--------------+-----------+---------------+---------------+--------------+----------+--------------+--------------+--------------+--------------+---------------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|region_imputed|tenure_imputed|age_imputed|marital_imputed|address_imputed|income_imputed|ed_imputed|employ_imputed|retire_imputed|gender_imputed|reside_imputed|custcat_imputed|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+--------------+--------------+-----------+---------------+---------------+--------------+----------+--------------+--------------+--------------+--------------+---------------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|             2|            13|         44|              1|              9|          64.0|         4|             5|           0.0|             0|             2|              1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|             3|            11|         33|              1|              7|         136.0|         5|             5|           0.0|             0|             6|              4|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|             3|            68|         52|              1|             24|         116.0|         1|            29|           0.0|             1|             2|              3|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|             2|            33|         33|              0|             12|          33.0|         2|             0|           0.0|             1|             1|              1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|             2|            23|         30|              1|              9|          30.0|         1|             2|           0.0|             0|             4|              3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|             2|            41|         39|              0|             17|          78.0|         2|            16|           0.0|             1|             1|              3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|             3|            45|         22|              1|              2|          19.0|         2|             4|           0.0|             1|             5|              2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|             2|            38|         35|              0|              5|          76.0|         2|            10|           0.0|             0|             3|              4|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|             3|            45|         59|              1|              7|         166.0|         4|            31|           0.0|             0|             5|              3|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|             1|            68|         41|              1|             21|          72.0|         1|            22|           0.0|             0|             3|              2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|             2|             5|         33|              0|             10|         125.0|         4|             5|           0.0|             1|             1|              1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|             3|             7|         35|              0|             14|          80.0|         2|            15|           0.0|             1|             1|              3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|             1|            41|         38|              1|              8|          37.0|         2|             9|           0.0|             1|             3|              1|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|             2|            57|         54|              1|             30|         115.0|         4|            23|           0.0|             1|             3|              4|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|             2|             9|         46|              0|              3|          25.0|         1|             8|           0.0|             1|             2|              1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|             1|            29|         38|              1|             12|          75.0|         5|             1|           0.0|             0|             4|              2|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|             3|            60|         57|              0|             38|         162.0|         2|            30|           0.0|             0|             1|              3|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|             3|            34|         48|              0|              3|          49.0|         2|             6|           0.0|             1|             3|              3|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|             2|             1|         24|              0|              3|          20.0|         1|             3|           0.0|             0|             1|              1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|             1|            26|         29|              1|              3|          77.0|         4|             2|           0.0|             0|             4|              4|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+--------------+--------------+-----------+---------------+---------------+--------------+----------+--------------+--------------+--------------+--------------+---------------+
only showing top 20 rows

<hr>

## filter operation

To do the comparation we need write into clotes because if we don't, they will show as an erros <br>
such as cannot compare str with int

In [28]:
df_spark_nc.filter('age < 44').show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|
|     3|     6| 30|      0|      7|  16.0|  3|     1|   0.0|     1|     1|      2|
|     3|    53| 33|      0|     10| 101.0|  5|     4|   0.0|     1|     2|      4|
|     3|    14| 43|      1|     18|  36.0|  1|     5|   0.0|     0|     5|      3|
|     2|     1| 21|      0|      0|  33.0|  2|     0|   0.0|     1|     3|      3|
|     2|    42| 40|      0|      7|  37.0|  2|     8|   0.0|     1|     1|      4|
|     3|    25| 33|      1|     11|  31.0|  1|     5|   0.0|     0|     4|      3|
|     1|     9| 21|      1|      1|  17.0|  2|     2|   0.0|     1|     3|      1|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

We can be more specific using the .select() function like so

In [29]:
df_spark_nc.filter('age > 50').select('employ').show()

+------+
|employ|
+------+
|    29|
|    31|
|    23|
|    30|
|    24|
|    12|
|    25|
|    17|
|    35|
|    19|
|    12|
|     0|
|     2|
|     2|
|    23|
|    10|
|    34|
|     9|
|    12|
|    47|
+------+
only showing top 20 rows

We can filter in this way too

In [30]:
df_spark_nc.filter((df_spark_nc['age'] < 48) & (df_spark_nc['age'] > 30)).show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|
|     3|    53| 33|      0|     10| 101.0|  5|     4|   0.0|     1|     2|      4|
|     3|    14| 43|      1|     18|  36.0|  1|     5|   0.0|     0|     5|      3|
|     2|    42| 40|      0|      7|  37.0|  2|     8|   0.0|     1|     1|      4|
|     3|    25| 33|      1|     11|  31.0|  1|     5|   0.0|     0|     4|      3|
|     2|    13| 33|      1|      9|  19.0|  4|     0|   0.0|     1|     2|      2|
|     1|    56| 37|      1|      6|  36.0|  1|    13|   0.0|     1|     2|      2|
|     2|    60| 46|      1|     13| 163.0|  3|    24|   0.0|     0|     2|      4|
|     3|    20| 35|      1|     11|  52.0|  4|     0|   0.0|     0|     2|      2|
|     1|    11| 41|      1|      0|  39.0|  1|     1|   0.0|     1|     2|      3|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+
only showing top 20 rows

<hr>

## GroupBy and Aggregate Functions

In [31]:
df_spark.groupBy('income').sum().show()

+------+-----------+-----------+--------+------------+------------+-----------+-------+-----------+-----------+-----------+-----------+------------+
|income|sum(region)|sum(tenure)|sum(age)|sum(marital)|sum(address)|sum(income)|sum(ed)|sum(employ)|sum(retire)|sum(gender)|sum(reside)|sum(custcat)|
+------+-----------+-----------+--------+------------+------------+-----------+-------+-----------+-----------+-----------+-----------+------------+
| 170.0|          1|         71|      56|           0|          23|      170.0|      1|         30|        0.0|          1|          1|           4|
| 147.0|          3|         72|     108|           0|          45|      294.0|      4|         60|        0.0|          1|          5|           5|
| 169.0|          2|         45|      52|           1|           4|      169.0|      4|         29|        0.0|          1|          4|           2|
| 608.0|          3|         65|      56|           1|          19|      608.0|      3|         34|        0.0|          1|          2|           4|
|  67.0|         17|        398|     374|           5|         134|      536.0|     21|        138|        1.0|          5|         19|          14|
|  70.0|          6|        171|     167|           2|          43|      280.0|     13|         40|        0.0|          2|          7|          13|
| 311.0|          3|         59|      57|           0|          26|      311.0|      3|         36|        0.0|          1|          1|           1|
| 168.0|          4|        133|     109|           1|          47|      336.0|      3|         69|        0.0|          2|          4|           7|
|  69.0|          6|        154|     175|           1|          44|      276.0|     11|         32|        0.0|          2|          7|          11|
| 142.0|          2|         84|      87|           1|          39|      284.0|      3|         48|        0.0|          1|          3|           3|
| 191.0|          2|         63|      63|           1|          19|      191.0|      3|         27|        0.0|          0|          2|           2|
|1131.0|          3|         70|      68|           0|          21|     1131.0|      2|         45|        0.0|          0|          1|           3|
| 112.0|          5|        102|     164|           1|          34|      336.0|     12|         22|        0.0|          2|          6|           7|
| 232.0|          2|         15|      46|           0|           5|      232.0|      4|         15|        0.0|          1|          2|           4|
| 438.0|          2|         69|      51|           1|          11|      438.0|      4|         23|        0.0|          1|          2|           4|
| 928.0|          1|         41|      52|           0|          26|      928.0|      3|         29|        0.0|          0|          3|           3|
| 456.0|          3|         68|      52|           1|           8|      456.0|      3|         30|        0.0|          1|          4|           3|
| 128.0|          4|         93|     113|           1|          47|      256.0|      7|         28|        0.0|          1|          3|           7|
| 201.0|          2|         32|      44|           0|          10|      201.0|      2|         24|        0.0|          0|          1|           3|
| 108.0|          6|        188|     197|           1|          64|      432.0|      9|         82|        0.0|          1|          9|          11|
+------+-----------+-----------+--------+------------+------------+-----------+-------+-----------+-----------+-----------+-----------+------------+
only showing top 20 rows

<hr>

Using .agg() isolated and as a propertie we can pass functions inside de brakets such a MEAN in a example

In [32]:
df_spark.agg({'age' : 'mean'}).show()

+--------+
|avg(age)|
+--------+
|  41.684|
+--------+

In [33]:
featureassembler = VectorAssembler(inputCols=['marital','employ'], outputCol='Independet features')

In [34]:
output = featureassembler.transform(df_spark_nc)

In [35]:
output.show()

+------+------+---+-------+-------+------+---+------+------+------+------+-------+-------------------+
|region|tenure|age|marital|address|income| ed|employ|retire|gender|reside|custcat|Independet features|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+-------------------+
|     2|    13| 44|      1|      9|  64.0|  4|     5|   0.0|     0|     2|      1|          [1.0,5.0]|
|     3|    11| 33|      1|      7| 136.0|  5|     5|   0.0|     0|     6|      4|          [1.0,5.0]|
|     3|    68| 52|      1|     24| 116.0|  1|    29|   0.0|     1|     2|      3|         [1.0,29.0]|
|     2|    33| 33|      0|     12|  33.0|  2|     0|   0.0|     1|     1|      1|          (2,[],[])|
|     2|    23| 30|      1|      9|  30.0|  1|     2|   0.0|     0|     4|      3|          [1.0,2.0]|
|     2|    41| 39|      0|     17|  78.0|  2|    16|   0.0|     1|     1|      3|         [0.0,16.0]|
|     3|    45| 22|      1|      2|  19.0|  2|     4|   0.0|     1|     5|      2|          [1.0,4.0]|
|     2|    38| 35|      0|      5|  76.0|  2|    10|   0.0|     0|     3|      4|         [0.0,10.0]|
|     3|    45| 59|      1|      7| 166.0|  4|    31|   0.0|     0|     5|      3|         [1.0,31.0]|
|     1|    68| 41|      1|     21|  72.0|  1|    22|   0.0|     0|     3|      2|         [1.0,22.0]|
|     2|     5| 33|      0|     10| 125.0|  4|     5|   0.0|     1|     1|      1|          [0.0,5.0]|
|     3|     7| 35|      0|     14|  80.0|  2|    15|   0.0|     1|     1|      3|         [0.0,15.0]|
|     1|    41| 38|      1|      8|  37.0|  2|     9|   0.0|     1|     3|      1|          [1.0,9.0]|
|     2|    57| 54|      1|     30| 115.0|  4|    23|   0.0|     1|     3|      4|         [1.0,23.0]|
|     2|     9| 46|      0|      3|  25.0|  1|     8|   0.0|     1|     2|      1|          [0.0,8.0]|
|     1|    29| 38|      1|     12|  75.0|  5|     1|   0.0|     0|     4|      2|          [1.0,1.0]|
|     3|    60| 57|      0|     38| 162.0|  2|    30|   0.0|     0|     1|      3|         [0.0,30.0]|
|     3|    34| 48|      0|      3|  49.0|  2|     6|   0.0|     1|     3|      3|          [0.0,6.0]|
|     2|     1| 24|      0|      3|  20.0|  1|     3|   0.0|     0|     1|      1|          [0.0,3.0]|
|     1|    26| 29|      1|      3|  77.0|  4|     2|   0.0|     0|     4|      4|          [1.0,2.0]|
+------+------+---+-------+-------+------+---+------+------+------+------+-------+-------------------+
only showing top 20 rows

In [36]:
finalized_data = output.select('Independet features', 'income')
finalized_data.show()

+-------------------+------+
|Independet features|income|
+-------------------+------+
|          [1.0,5.0]|  64.0|
|          [1.0,5.0]| 136.0|
|         [1.0,29.0]| 116.0|
|          (2,[],[])|  33.0|
|          [1.0,2.0]|  30.0|
|         [0.0,16.0]|  78.0|
|          [1.0,4.0]|  19.0|
|         [0.0,10.0]|  76.0|
|         [1.0,31.0]| 166.0|
|         [1.0,22.0]|  72.0|
|          [0.0,5.0]| 125.0|
|         [0.0,15.0]|  80.0|
|          [1.0,9.0]|  37.0|
|         [1.0,23.0]| 115.0|
|          [0.0,8.0]|  25.0|
|          [1.0,1.0]|  75.0|
|         [0.0,30.0]| 162.0|
|          [0.0,6.0]|  49.0|
|          [0.0,3.0]|  20.0|
|          [1.0,2.0]|  77.0|
+-------------------+------+
only showing top 20 rows

### train test split

In [ ]:
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol= 'Independet features', labelCol='income')
regressor = regressor.fit(train_data)

### Coefficients

In [40]:
regressor.coefficients

DenseVector([-1.4038, 5.1536])

### intercepts

In [41]:
regressor.intercept

20.453491896073047

### Predication

In [42]:
pred_results = regressor.evaluate(test_data)

In [43]:
pred_results.predictions.show()

+-------------------+------+------------------+
|Independet features|income|        prediction|
+-------------------+------+------------------+
|          (2,[],[])|  15.0|20.453491896073047|
|          (2,[],[])|  16.0|20.453491896073047|
|          (2,[],[])|  19.0|20.453491896073047|
|          (2,[],[])|  22.0|20.453491896073047|
|          (2,[],[])|  25.0|20.453491896073047|
|          (2,[],[])|  33.0|20.453491896073047|
|          (2,[],[])|  37.0|20.453491896073047|
|          (2,[],[])|  41.0|20.453491896073047|
|          (2,[],[])|  46.0|20.453491896073047|
|          (2,[],[])|  65.0|20.453491896073047|
|          [0.0,1.0]|  21.0|25.607120616856793|
|          [0.0,1.0]|  38.0|25.607120616856793|
|          [0.0,1.0]|  57.0|25.607120616856793|
|          [0.0,2.0]|  17.0| 30.76074933764054|
|          [0.0,2.0]|  30.0| 30.76074933764054|
|          [0.0,2.0]|  34.0| 30.76074933764054|
|          [0.0,2.0]|  42.0| 30.76074933764054|
|          [0.0,2.0]|  69.0| 30.76074933764054|
|          [0.0,3.0]|  20.0| 35.91437805842429|
|          [0.0,3.0]|  20.0| 35.91437805842429|
+-------------------+------+------------------+
only showing top 20 rows

In [46]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(42.494840882447676, 13951.541339429821)

22/12/02 14:56:38 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 203307 ms exceeds timeout 120000 ms
22/12/02 14:56:38 WARN SparkContext: Killing executors is not supported by current scheduler.